<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="/script/profile.js" defer></script>
    <link rel="stylesheet" href="../../style.css">
    <link rel="icon" type="image/png" href="/./assets/png/Logo.png"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        function sample(id,rating){
            var greenFlag = "#41C45E";
            var grayFlag = "#595959";
            var redFlag = "#ED352F";
            for (let i = 1; i < 6; i++) {
                let flag = $(`.flag-${id}-` + i);
                if (i <= rating) {
                    if (rating <= 2)
                        flag.css('fill', redFlag);
                    else
                        flag.css('fill', greenFlag);
                } else {
                    flag.css('fill', grayFlag);
                }
            }
        }
    </script>
</head>

<body>
    <div class="sidebar"></div>
    <div class="cover">
        <div class="cover-img">
            <label for="coverImageUpload" class="edit-cover-pic">
                <img src="{{#if sampleUser.coverpicture}}{{ sampleUser.coverpicture }}{{else}}../../assets/jpg/default_cover_image.jpg{{/if}}" id="coverPic" alt="Cover image" class="coverImg">
            </label>
            {{!-- <input id="coverImageUpload" type="file" accept="image/*" onchange="loadCover(event)" style="display: none;"> --}}
        </div>
        <div class="profile-img">
            <label for="profileImageUpload" class="edit-profile-pic">
                <img src="../../{{#if profilePic}}{{profilePic }}{{else}}assets/jpg/default_profile_image.jpg{{/if}}" id="profilePic" alt="Profile image" class="profile">
            </label>
            {{!-- <input id="profileImageUpload" type="file" accept="image/*" onchange="loadProfile(event)" style="display: none;"> --}}
        </div>

    </div>



    <div class="profile-upper"> 
        <img class="designdot" src="../../../../assets/png/dots.png">
        <div class="profile-name">
            <b><span class="username"> {{ firstName }} {{lastName}}</span></b><br>
            <i><b><span class="realname">{{ biography }}</span></b></i>
                <img class="icon" src="../assets/svg/ind-flag-notxt.svg" alt="flag">
                <span class = "reviews-count bold">{{reviewCount}}</span>
                <span>Reviews</span>
                
                <img class="icon" src="../assets/svg/camera.svg" alt="photos">
                <span class="photos-count bold">{{photoCount}}</span>
                <span>Photos</span>
                <br><br>
                <span class="helpful-count bold">{{helpfulCount}}</span>&nbsp;people found their reviews helpful
                <br>Member since &nbsp;<span class="member-since-date bold">{{dateMade}}</span>
             <br><br>
             {{#if true}}
            <button type="button" class="add-review-btn" onclick="openEditPopup()">
                Edit Profile
            </button>
            <a href="/logout" >           
                <button class="add-review-btn" >
                    Log Out
                </button>
            </a>
            {{/if}}

        </div>
    </div>

    <div class="edit-popup" id="editPopup">
    <form class="popup-content"   action="/edit-profile" method="POST" enctype="multipart/form-data">
        <span class="close" onclick="closeEditPopup()">&times;</span>
        <b><h2>Edit Profile</h2></b>
        <div class="prof-pic">
              <img height="300px" src="../../{{#if profilePic}}{{profilePic }}{{else}}assets/jpg/default_profile_image.jpg{{/if}}" id="profilePic" alt="Profile image" class="profile">
        </div>
        <div class="prof-pic-right">
            <h1 class="username">{{firstName}} {{lastName}}</h1>
            <button class="profPicIn clickable" type="button">Change profile photo</button>
            <input id="profPicInEdit" style="display: none" name="profilePictureEdit" type="file" accept="image/*">
        </div>
        <h1 class="fname">First Name</h1>
        <div class="fname-field">
            <label class="label-fname" for="first-name">This field is required.</label>
            <input required type="text" name="firstNameEdit" id="first-name" placeholder="First Name" value="{{firstName}}">
        </div>
        <h1 class="lname">Last Name</h1 >
        <div class="lname-field">
            <label class="label-uname" for="username">This field is required.</label>
            <input required type="text" name="lastNameEdit" id="username" placeholder="Last Name" value="{{lastName}}">
        </div>
        <h1 class="desc">Description</h1>
        <textarea required name="descriptionEdit" id="description">{{biography}}</textarea>
        <button onclick="saveChanges()" class="add-review-btn" type="submit" value="Save Changes" id="submit">Save Changes</button>
        {{!-- <button onclick="saveChanges()">Save</button> --}}
    </form>
</div>

    <div class="profile-lower">
        <span class="bio">{{ sampleUser.bio }}</span>
    </div>

    <img class="designdot2" src="../../assets/png/dots.png">

    <div class="profile-reviews-container">
    <img class="designdot3" src="./public/../../assets/png/dots.png">
    

    <div class="dot-container">
        {{#each dots}}
            <span class="dot" onclick="currentSlide({{ this }})"></span>
        {{/each}}
    </div>

    <div class="profile-reviews">
            {{#each reviews as |resto index|}}
        <div class="review1-container" >
            
                    <!--<a href="/reviewpage?cafeID={{ review.cafeID }}">-->
                        <img src="../../{{ resto.logo }}" class="review1" alt="Cafe Logo">
                    <!--</a>-->
                    
                    <div class="review1-review" >
                         <div class="top">
            <svg class="rating-{{index}}" id="rating-{{index}}" width="115" height="22" viewBox="0 0 115 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="flag-{{index}}-1" fill="#595959">
                    <path d="M19.079 0.483624C18.5288 1.02695 18.1172 1.31786 17.4909 1.62161C16.6365 2.03231 15.7999 2.22911 14.5652 2.31039C13.6884 2.36601 12.8072 2.32323 10.7404 2.13071C9.12101 1.9767 7.48371 1.92536 6.70532 2.00237C5.11275 2.16066 3.86018 2.67404 2.86259 3.57673C2.59865 3.81202 2.55839 3.86764 2.59418 3.93609C2.62102 3.97887 3.34572 6.42597 4.20463 9.37361C5.06802 12.3213 5.7793 14.7598 5.79273 14.7897C5.81062 14.8325 5.91351 14.7684 6.11929 14.5972C7.53739 13.3993 9.13443 12.9416 11.5859 13.0186C12.0646 13.0357 12.7624 13.0742 13.1293 13.1084C13.5006 13.1427 14.2432 13.2154 14.7845 13.2667C16.1847 13.3993 18.0456 13.3993 18.7882 13.2667C19.5621 13.1298 20.0498 12.9844 20.6447 12.7063C21.2889 12.4025 21.8123 12.0475 22.3133 11.5555C22.6846 11.1918 22.8233 10.995 22.8725 10.7512C22.9307 10.4645 22.886 10.4218 22.1434 10.0282C20.9758 9.40784 19.8663 8.66772 18.9045 7.86771C18.6943 7.6923 18.5019 7.49551 18.4796 7.43561C18.4482 7.35005 18.493 7.11047 18.6764 6.40886C19.1193 4.70616 19.4727 2.93928 19.7321 1.16813C19.844 0.410896 19.8619 0.184155 19.8261 0.10287C19.7321 -0.0939245 19.6024 -0.0297527 19.079 0.483624Z"/>
                    <path d="M0.626289 3.77349C0.299724 3.87189 0 4.28687 0 4.63768C0 4.80452 4.81796 21.2839 4.93427 21.515C5.05058 21.7417 5.30557 21.9 5.56503 21.9C5.65897 21.9 5.87817 21.8615 6.04369 21.8144C6.52683 21.6775 6.75498 21.438 6.75498 21.0786C6.75498 20.9674 5.8066 17.6475 4.33929 12.6335C3.01514 8.09014 1.90571 4.32537 1.88334 4.26975C1.81624 4.09007 1.60151 3.88044 1.40915 3.79916C1.20784 3.70932 0.867858 3.70076 0.626289 3.77349Z"/>
                </g>
                <g class="flag-{{index}}-2" fill="#595959">
                    <path d="M42.079 0.483624C41.5288 1.02695 41.1172 1.31786 40.4909 1.62161C39.6365 2.03231 38.7999 2.22911 37.5652 2.31039C36.6884 2.36601 35.8072 2.32323 33.7404 2.13071C32.121 1.9767 30.4837 1.92536 29.7053 2.00237C28.1128 2.16066 26.8602 2.67404 25.8626 3.57673C25.5986 3.81202 25.5584 3.86764 25.5942 3.93609C25.621 3.97887 26.3457 6.42597 27.2046 9.37361C28.068 12.3213 28.7793 14.7598 28.7927 14.7897C28.8106 14.8325 28.9135 14.7684 29.1193 14.5972C30.5374 13.3993 32.1344 12.9416 34.5859 13.0186C35.0646 13.0357 35.7624 13.0742 36.1293 13.1084C36.5006 13.1427 37.2432 13.2154 37.7845 13.2667C39.1847 13.3993 41.0456 13.3993 41.7882 13.2667C42.5621 13.1298 43.0498 12.9844 43.6447 12.7063C44.2889 12.4025 44.8123 12.0475 45.3133 11.5555C45.6846 11.1918 45.8233 10.995 45.8725 10.7512C45.9307 10.4645 45.886 10.4218 45.1434 10.0282C43.9758 9.40784 42.8663 8.66772 41.9045 7.86771C41.6943 7.6923 41.5019 7.49551 41.4796 7.43561C41.4482 7.35005 41.493 7.11047 41.6764 6.40886C42.1193 4.70616 42.4727 2.93928 42.7321 1.16813C42.844 0.410896 42.8619 0.184155 42.8261 0.10287C42.7321 -0.0939245 42.6024 -0.0297527 42.079 0.483624Z" />
                    <path d="M23.6263 3.77349C23.2997 3.87189 23 4.28687 23 4.63768C23 4.80452 27.818 21.2839 27.9343 21.515C28.0506 21.7417 28.3056 21.9 28.565 21.9C28.659 21.9 28.8782 21.8615 29.0437 21.8144C29.5268 21.6775 29.755 21.438 29.755 21.0786C29.755 20.9674 28.8066 17.6475 27.3393 12.6335C26.0151 8.09014 24.9057 4.32537 24.8833 4.26975C24.8162 4.09007 24.6015 3.88044 24.4092 3.79916C24.2078 3.70932 23.8679 3.70076 23.6263 3.77349Z" />
                </g>
                <g class="flag-{{index}}-3" fill="#595959">
                    <path d="M65.079 0.483624C64.5288 1.02695 64.1172 1.31786 63.4909 1.62161C62.6365 2.03231 61.7999 2.22911 60.5652 2.31039C59.6884 2.36601 58.8072 2.32323 56.7404 2.13071C55.121 1.9767 53.4837 1.92536 52.7053 2.00237C51.1128 2.16066 49.8602 2.67404 48.8626 3.57673C48.5986 3.81202 48.5584 3.86764 48.5942 3.93609C48.621 3.97887 49.3457 6.42597 50.2046 9.37361C51.068 12.3213 51.7793 14.7598 51.7927 14.7897C51.8106 14.8325 51.9135 14.7684 52.1193 14.5972C53.5374 13.3993 55.1344 12.9416 57.5859 13.0186C58.0646 13.0357 58.7624 13.0742 59.1293 13.1084C59.5006 13.1427 60.2432 13.2154 60.7845 13.2667C62.1847 13.3993 64.0456 13.3993 64.7882 13.2667C65.5621 13.1298 66.0498 12.9844 66.6447 12.7063C67.2889 12.4025 67.8123 12.0475 68.3133 11.5555C68.6846 11.1918 68.8233 10.995 68.8725 10.7512C68.9307 10.4645 68.886 10.4218 68.1434 10.0282C66.9758 9.40784 65.8663 8.66772 64.9045 7.86771C64.6943 7.6923 64.5019 7.49551 64.4796 7.43561C64.4482 7.35005 64.493 7.11047 64.6764 6.40886C65.1193 4.70616 65.4727 2.93928 65.7321 1.16813C65.844 0.410896 65.8619 0.184155 65.8261 0.10287C65.7321 -0.0939245 65.6024 -0.0297527 65.079 0.483624Z" />
                    <path d="M46.6263 3.77349C46.2997 3.87189 46 4.28687 46 4.63768C46 4.80452 50.818 21.2839 50.9343 21.515C51.0506 21.7417 51.3056 21.9 51.565 21.9C51.659 21.9 51.8782 21.8615 52.0437 21.8144C52.5268 21.6775 52.755 21.438 52.755 21.0786C52.755 20.9674 51.8066 17.6475 50.3393 12.6335C49.0151 8.09014 47.9057 4.32537 47.8833 4.26975C47.8162 4.09007 47.6015 3.88044 47.4092 3.79916C47.2078 3.70932 46.8679 3.70076 46.6263 3.77349Z" />
                </g>
                <g class="flag-{{index}}-4" fill="#595959">
                    <path d="M88.079 0.483624C87.5288 1.02695 87.1172 1.31786 86.4909 1.62161C85.6365 2.03231 84.7999 2.22911 83.5652 2.31039C82.6884 2.36601 81.8072 2.32323 79.7404 2.13071C78.121 1.9767 76.4837 1.92536 75.7053 2.00237C74.1128 2.16066 72.8602 2.67404 71.8626 3.57673C71.5986 3.81202 71.5584 3.86764 71.5942 3.93609C71.621 3.97887 72.3457 6.42597 73.2046 9.37361C74.068 12.3213 74.7793 14.7598 74.7927 14.7897C74.8106 14.8325 74.9135 14.7684 75.1193 14.5972C76.5374 13.3993 78.1344 12.9416 80.5859 13.0186C81.0646 13.0357 81.7624 13.0742 82.1293 13.1084C82.5006 13.1427 83.2432 13.2154 83.7845 13.2667C85.1847 13.3993 87.0456 13.3993 87.7882 13.2667C88.5621 13.1298 89.0498 12.9844 89.6447 12.7063C90.2889 12.4025 90.8123 12.0475 91.3133 11.5555C91.6846 11.1918 91.8233 10.995 91.8725 10.7512C91.9307 10.4645 91.886 10.4218 91.1434 10.0282C89.9758 9.40784 88.8663 8.66772 87.9045 7.86771C87.6943 7.6923 87.5019 7.49551 87.4796 7.43561C87.4482 7.35005 87.493 7.11047 87.6764 6.40886C88.1193 4.70616 88.4727 2.93928 88.7321 1.16813C88.844 0.410896 88.8619 0.184155 88.8261 0.10287C88.7321 -0.0939245 88.6024 -0.0297527 88.079 0.483624Z"/>
                    <path d="M69.6263 3.77349C69.2997 3.87189 69 4.28687 69 4.63768C69 4.80452 73.818 21.2839 73.9343 21.515C74.0506 21.7417 74.3056 21.9 74.565 21.9C74.659 21.9 74.8782 21.8615 75.0437 21.8144C75.5268 21.6775 75.755 21.438 75.755 21.0786C75.755 20.9674 74.8066 17.6475 73.3393 12.6335C72.0151 8.09014 70.9057 4.32537 70.8833 4.26975C70.8162 4.09007 70.6015 3.88044 70.4092 3.79916C70.2078 3.70932 69.8679 3.70076 69.6263 3.77349Z"/>
                </g>
                <g class="flag-{{index}}-5" fill="#595959">
                    <path d="M111.079 0.483624C110.529 1.02695 110.117 1.31786 109.491 1.62161C108.636 2.03231 107.8 2.22911 106.565 2.31039C105.688 2.36601 104.807 2.32323 102.74 2.13071C101.121 1.9767 99.4837 1.92536 98.7053 2.00237C97.1128 2.16066 95.8602 2.67404 94.8626 3.57673C94.5986 3.81202 94.5584 3.86764 94.5942 3.93609C94.621 3.97887 95.3457 6.42597 96.2046 9.37361C97.068 12.3213 97.7793 14.7598 97.7927 14.7897C97.8106 14.8325 97.9135 14.7684 98.1193 14.5972C99.5374 13.3993 101.134 12.9416 103.586 13.0186C104.065 13.0357 104.762 13.0742 105.129 13.1084C105.501 13.1427 106.243 13.2154 106.784 13.2667C108.185 13.3993 110.046 13.3993 110.788 13.2667C111.562 13.1298 112.05 12.9844 112.645 12.7063C113.289 12.4025 113.812 12.0475 114.313 11.5555C114.685 11.1918 114.823 10.995 114.873 10.7512C114.931 10.4645 114.886 10.4218 114.143 10.0282C112.976 9.40784 111.866 8.66772 110.905 7.86771C110.694 7.6923 110.502 7.49551 110.48 7.43561C110.448 7.35005 110.493 7.11047 110.676 6.40886C111.119 4.70616 111.473 2.93928 111.732 1.16813C111.844 0.410896 111.862 0.184155 111.826 0.10287C111.732 -0.0939245 111.602 -0.0297527 111.079 0.483624Z" />
                    <path d="M92.6263 3.77349C92.2997 3.87189 92 4.28687 92 4.63768C92 4.80452 96.818 21.2839 96.9343 21.515C97.0506 21.7417 97.3056 21.9 97.565 21.9C97.659 21.9 97.8782 21.8615 98.0437 21.8144C98.5268 21.6775 98.755 21.438 98.755 21.0786C98.755 20.9674 97.8066 17.6475 96.3393 12.6335C95.0151 8.09014 93.9057 4.32537 93.8833 4.26975C93.8162 4.09007 93.6015 3.88044 93.4092 3.79916C93.2078 3.70932 92.8679 3.70076 92.6263 3.77349Z" />
                </g>
            </svg>
        </div>
                        <br>
                        <span class="review-title">{{ resto.postTitle }}</span><br>
                        <div class="scrollable">
                        <span class="review-text-{{index}}">{{ resto.description }}</span>
                        </div>
                        {{#if resto.edited}}
                            <div class="edited-badge">Edited</div>
                        {{/if}}
                         <div class="buttons">
        <div class="like-dislike">
          <svg
            class="like clickable"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g class="fill">
              <path
                d="M19.5549 23.2208H3.77759C2.24357 23.2208 1 21.9772 1 20.4432V9.33278H6.45746C7.38616 9.33278 8.25341 8.86865 8.76856 8.09592L12.2623 2.85529C13.035 1.6962 14.3359 1 15.729 1H16.0262C16.8843 1 17.5371 1.7706 17.3961 2.61712L16.2767 9.33278H21.2214C22.9742 9.33278 24.2889 10.9364 23.9451 12.6551L22.2786 20.9879C22.0189 22.2862 20.8789 23.2208 19.5549 23.2208Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M6.55566 9.33279V23.2208V9.33279Z" />
            </g>
            <path
              d="M6.55566 9.33279V23.2208"
              stroke="white"
              stroke-width="2"
            />
          </svg>
          <span class="like-count">{{helpfulCount}}</span>
          <span>|</span>
          <svg
            class="dislike clickable"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g class="fill">
              <path
                d="M19.5549 1.00001H3.77759C2.24357 1.00001 1 2.24353 1 3.7776V14.888H6.45746C7.38616 14.888 8.25341 15.3521 8.76856 16.1248L12.2623 21.3655C13.035 22.5246 14.3359 23.2208 15.729 23.2208H16.0262C16.8843 23.2208 17.5371 22.4502 17.3961 21.6036L16.2767 14.888H21.2214C22.9742 14.888 24.2889 13.2843 23.9451 11.5657L22.2786 3.23291C22.0189 1.93453 20.8789 1.00001 19.5549 1.00001Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="M6.55566 14.888V1.00003V14.888Z" />
            </g>
            <path d="M6.55566 14.888V1.00003" stroke="white" stroke-width="2" />
          </svg>
          <span class="dislike-count">{{unhelpfulCount}}</span>
             {{#if resto.isSelf}}
           <div class="edit_delete" >
            <svg
              data-value="{{resto.allData}}"
              class="edit clickable"
              width="23"
              height="23"
              viewBox="0 0 23 23"
              fill="black"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.8193 0.10803C16.3881 0.234592 16.1724 0.347094 15.8115 0.618967C15.6568 0.736155 12.6287 3.74084 9.08026 7.29397L2.62557 13.7533L1.30838 17.7143C-0.0463032 21.783 -0.0884907 21.9471 0.0568218 22.2049C0.150572 22.3783 0.366197 22.4955 0.600572 22.4955C0.750572 22.4955 1.91776 22.1252 4.74901 21.183L8.68651 19.8705L15.3474 13.2002C21.849 6.69397 22.0131 6.52522 22.1771 6.18303C22.4021 5.71428 22.4912 5.32053 22.4912 4.75334C22.4912 4.18616 22.4162 3.85803 22.1584 3.32366C21.9709 2.94397 21.9099 2.86897 20.7615 1.72522C19.6178 0.57678 19.5428 0.515842 19.1631 0.328342C18.6146 0.0658436 18.3053 -0.00446892 17.6865 0.000217438C17.2928 0.000217438 17.0865 0.0236549 16.8193 0.10803ZM18.2818 1.35959C18.4412 1.41116 18.6568 1.51428 18.7599 1.58928C18.8678 1.65959 19.3881 2.16116 19.9224 2.70022C20.7709 3.55803 20.9115 3.71741 21.0474 4.00334C21.1881 4.30334 21.2021 4.36897 21.2021 4.77678C21.2021 5.18459 21.1881 5.25022 21.0521 5.52678C20.9537 5.72366 20.7521 5.99084 20.4896 6.27209L20.0771 6.71272L17.9349 4.57522L15.7974 2.44241L16.2521 1.99709C16.5006 1.75334 16.7771 1.51897 16.8662 1.47209C17.3115 1.2424 17.8131 1.20022 18.2818 1.35959ZM13.7724 13.0033L8.40526 18.3705L6.27245 16.2377L4.13963 14.1049L9.50682 8.73772L14.874 3.37053L17.0068 5.50334L19.1396 7.63616L13.7724 13.0033ZM4.41151 19.9221C2.89276 20.4283 1.65057 20.8362 1.6412 20.8315C1.63651 20.8268 2.04901 19.5846 2.55526 18.0705L3.48338 15.3237L5.32088 17.1612L7.16307 19.0033L4.41151 19.9221Z"
                fill="black"
              />
            </svg>
            <svg
              class="delete clickable"
              data-id="{{resto._id}}"
              width="19"
              height="23"
              viewBox="0 0 19 23"
              fill="black"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.37939 0.0853519C6.72802 0.296484 6.17099 0.866993 5.97782 1.52285C5.92841 1.68906 5.90595 1.94961 5.90595 2.31797V2.87051L3.67333 2.88399L1.43622 2.89746L1.16669 3.02773C0.820791 3.19844 0.479384 3.53984 0.308681 3.88574L0.178408 4.15527L0.164931 5.79492C0.155947 7.37168 0.155947 7.43906 0.245791 7.58281C0.389541 7.81641 0.582705 7.90625 0.928603 7.90625H1.22509L1.25204 8.18476C1.26552 8.34199 1.40927 11.2979 1.57099 14.7568C1.7327 18.2158 1.88993 21.1582 1.91688 21.293C2.06513 22.0477 2.61317 22.6586 3.35888 22.9057C3.64189 23 3.65087 23 9.59403 22.991L15.5462 22.9775L15.8966 22.8023C16.521 22.4969 16.9612 21.9398 17.087 21.293C17.114 21.1582 17.2667 18.2158 17.4284 14.7568C17.5901 11.2979 17.7339 8.34199 17.7474 8.18476L17.7743 7.90625H18.0708C18.4167 7.90625 18.6099 7.81641 18.7536 7.58281C18.8435 7.43906 18.8435 7.37168 18.8345 5.79492L18.821 4.15527L18.6907 3.88574C18.52 3.53984 18.1786 3.19844 17.8327 3.02773L17.5632 2.89746L15.3306 2.88399L13.0934 2.87051V2.31797C13.0934 1.8957 13.071 1.69356 13.0081 1.48691C12.8015 0.826563 12.2354 0.265039 11.5706 0.0718746C11.364 0.00898552 11.036 0 9.48173 0.00449181C7.81962 0.00449181 7.60849 0.0134773 7.37939 0.0853519ZM11.045 1.48242C11.4673 1.57676 11.6155 1.81934 11.647 2.43027L11.6694 2.875H9.4997H7.32997L7.35243 2.43027C7.38388 1.82832 7.53661 1.57676 7.93192 1.48242C8.14306 1.43301 10.8294 1.42852 11.045 1.48242ZM17.1544 4.37539C17.379 4.46973 17.406 4.60449 17.406 5.59727V6.46875H9.4997H1.59345V5.59727C1.59345 4.61797 1.62489 4.46973 1.83603 4.37539C2.04716 4.28555 16.9343 4.28106 17.1544 4.37539ZM16.2559 8.18476C16.247 8.34199 16.1032 11.2754 15.946 14.7119C15.6675 20.7045 15.6495 20.965 15.5597 21.1492C15.5058 21.2525 15.389 21.3828 15.2991 21.4412L15.1374 21.54H9.4997H3.862L3.70028 21.4412C3.61044 21.3828 3.49364 21.2525 3.43974 21.1492C3.34989 20.965 3.33192 20.7045 3.05341 14.7119C2.89618 11.2754 2.75243 8.34199 2.74345 8.18476L2.72099 7.90625H9.4997H16.2784L16.2559 8.18476Z"
                fill="black"
              />
              <path
                d="M5.51094 9.43359C5.43008 9.48301 5.32676 9.58633 5.27734 9.66719C5.1875 9.81094 5.1875 9.90527 5.1875 14.7344C5.1875 19.5635 5.1875 19.6578 5.27734 19.8016C5.41211 20.0172 5.61426 20.125 5.90625 20.125C6.19824 20.125 6.40039 20.0172 6.53516 19.8016C6.625 19.6578 6.625 19.5635 6.625 14.7344C6.625 9.90527 6.625 9.81094 6.53516 9.66719C6.40039 9.45156 6.19824 9.34375 5.90625 9.34375C5.74004 9.34375 5.60977 9.3707 5.51094 9.43359Z"
                fill="white"
              />
              <path
                d="M9.10469 9.43359C9.02383 9.48301 8.92051 9.58633 8.87109 9.66719C8.78125 9.81094 8.78125 9.90527 8.78125 14.7344C8.78125 19.5635 8.78125 19.6578 8.87109 19.8016C9.00586 20.0172 9.20801 20.125 9.5 20.125C9.79199 20.125 9.99414 20.0172 10.1289 19.8016C10.2188 19.6578 10.2188 19.5635 10.2188 14.7344C10.2188 9.90527 10.2188 9.81094 10.1289 9.66719C9.99414 9.45156 9.79199 9.34375 9.5 9.34375C9.33379 9.34375 9.20352 9.3707 9.10469 9.43359Z"
                fill="white"
              />
              <path
                d="M12.6984 9.43359C12.6176 9.48301 12.5143 9.58633 12.4648 9.66719C12.375 9.81094 12.375 9.90527 12.375 14.7344C12.375 19.5635 12.375 19.6578 12.4648 19.8016C12.5996 20.0172 12.8018 20.125 13.0938 20.125C13.3857 20.125 13.5879 20.0172 13.7227 19.8016C13.8125 19.6578 13.8125 19.5635 13.8125 14.7344C13.8125 9.90527 13.8125 9.81094 13.7227 9.66719C13.5879 9.45156 13.3857 9.34375 13.0938 9.34375C12.9275 9.34375 12.7973 9.3707 12.6984 9.43359Z"
                fill="white"
              />
            </svg>
          </div>
          {{/if}}
        </div>
        <div class="buttons-right">
          {{!-- <div class="date">
            <span>{{postedOrEdited}} on {{date}}</span>
          </div> --}}
         
        </div>
      </div>
                    </div>
                </div>
                
                <script>
                    sample({{index}},{{resto.rating}})
                </script>
        <form action="/delete-review" method="POST" style="display: none;">
          <input type="text" name="reviewId" value="{{resto._id}}">
          <button class="delete-button-{{resto._id}}" type="submit"></button>
        </form>
    {{/each}}
        </div>
    </div>
<script>
    function getUsername() {
      return sessionStorage.getItem('username');
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[[]]/g, "\\$&");
        const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    document.getElementById('usernameDisplay').innerText = username;

    </script>

     <script type="module">
        
        $('document').ready(function(){
           
            $('.sidebar').load('/side-bar');
            
        })
        $('document').ready(function(){
            $('.sidebar').load('components/side-bar.html');

            setTimeout(function(){
                $('.side-profile').addClass('selected');
            },200);

            const pseudoBtn = $('.profPicIn');
            const picUploadBtn = $('#profPicInEdit');
            const img = $('.prof-pic img');
            const reader = new FileReader();
            pseudoBtn.on('click', function(){
                picUploadBtn.click();
            }); 
            picUploadBtn.on('change', function(){
                reader.onload = function(e){
                    img.attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            })
        });
    </script>
    <script>
    $(document).ready(function () {
      $("#nextButton").on('click', function (e) {
        const urlParams = new URLSearchParams(window.location.search);
        let myParam = urlParams.get('index');
        let nextSlide =Number(myParam)+1;
        window.history.pushState('', '', '/profile/user@gmail.com?index='+nextSlide);
      })

 
      $('.delete').on('click', function (e) {
      let id = $(e.currentTarget).data("id")
        $(' .delete-button-'+id).click();
      });
  
    $('.edit').on('click', function (e) {
      $('body').append($('<div class="cover-edit" style="position: fixed; top: 0; z-index: 999998; width: 100vw; height: 100vh; background-color: black; opacity: 0.5; display: none;"></div>'));
      let data = $(e.currentTarget).data("value")
      const reviewInfo={
        id:data._id,
        restoName:data?.restaurant?.name,
        ...data
      }
      setTimeout(function () {
        $('body').css('overflow', 'hidden');
        $('body').append($('<div class="edit-card" style="display: none; position: relative; z-index: 999999;"></div>').load('/edit-review', { post: reviewInfo }))
        $('.cover-edit').fadeIn();
        $('.edit-card').fadeIn();
      }, 200);
    });

        });
  </script>
</body>
</html>
