<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/script/index.js" defer></script>
    <link rel="icon" type="image/png" href="/assets/Cafe St Logo.PNG">
</head>
<body>
       <div class="upperpanel">
        <div class="rightpanel">
            <p class = "tagline">Find the best cafe for you,<br>
                <span class="dlsu">around De La Salle University</span>
            </p>
            <div class = "button">
                <button class = "explore"  onclick="scrollToSection()">Explore</button>
                <button class="suggestion" onclick="window.location.href = '/view-establishments?username={{username}}';">Find Suggestions</button>

            </div>
        </div>
        <img class = "designdot" src="/images/dots.png">
        <img class = "designdot2" src="/images/dots.png">
        <img class = "designdot3" src="/images/dots.png">
        <img class = "designdot4" src="/images/dots.png">
        {{> navbar username=username}}
        <div class = "leftpanel">
            <div class="slideshow-container">
                {{#each cafes}}
                <div class="slide">
                    <img src="{{cafeimage}}" class="pics" />
                    <div><span class="resto" href="#">{{name}}</span></div>
                    <div><span class="lugar" href="{{locationLink}}">{{location}}</span></div>
                </div>
                {{/each}}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="dot-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </div>
    <div class="lowerpanel" id="lowerpanel">
        <div class="lowernavbar">
            <div class="searchbar"> 
                <form  action="/searchpage" method="GET">
                    <input type="text" placeholder="Search Cafes" class="type" name="query">
                    <input type="hidden" name="username" value="{{username}}">
                    <button type="submit" class="search">Search</button>
                </form>
            </div>
        </div>
        <p class = "top">Top Rated Cafes &#11088;</p>
        <p class="rated">The top bets of students around Taft</p>
         <div class = "toprated">
            <div class="top1container">
               <button id="view-sb-0" class="top1header" style="background-image: url('{{topThreeCafes.[0].cafeheader}}')" onclick="showPopup('popupsb-0')">
                    <div class="infos-sb">
                        <div class="logo-sb">
                            <img src="{{topThreeCafes.[0].logoimage}}" alt="Logo">
                        </div>
                        <div>
                            <span class="sb" href="#">{{topThreeCafes.[0].name}}</span>
                        </div>
                        <div>
                            <span class="greencourt">
                            {{topThreeCafes.[0].location}}
                            </span>
                        </div>
                        <div>
                        <p class ="desc">
                           {{topThreeCafes.[0].description}}
                        </p>
                        </div>
                        <p class="rating-sb">
                            Rating: <span id="i-sb" class="i-sb"> {{topThreeCafes.[0].averageRating}}</span>  out of <span class="total">5</span>
                        </p>
                        </div>
                </button>
                <a class="view-establishment-sb" href="/reviewpage?inf_id={{topThreeCafes.[0].inf_id}}&name={{topThreeCafes.[0].name}}&location={{topThreeCafes.[0].location}}&category={{topThreeCafes.[0].category}}&description={{topThreeCafes.[0].description}}&averageRating={{topThreeCafes.[0].averageRating}}&slideImages1={{topThreeCafes.[0].slideImages1}}&slideImages2={{topThreeCafes.[0].slideImages2}}&slideImages3={{topThreeCafes.[0].slideImages3}}">View Establishment</a>
                <div id="popupsb-0" class="popupsb">
                    <div class="sbcontent">
                        <div class = "uppersidesb">
                            <div class="logo-popup">
                                <img src="{{topThreeCafes.[0].logoimage}}" alt="Logo">
                                <a class = "view-all" href="/view-establishments">View All</a>
                                </div>
                            <div class="infos-popup">
                                <div class="name-popup"><span class="name">{{topThreeCafes.[0].name}}</span></div>
                                <div class="loc-popup"><a class="loc" href="{{topThreeCafes.[0].location_link}}">
                                {{topThreeCafes.[0].location}}</a></div>
                            </div>
                        </div>
                        <div class = "lowerside">
                            <p class="rating-popup">
                                Rating: <span id="i-popup" class="i-popup"> {{topThreeCafes.[0].averageRating}}</span>  out of <span class="total"> 5</span>
                            </p>
                            <hr>
                            <div class="topreview-container">
                                <p class="topreview">Top Review</p>
                                <a class="write" href="/reviewpage?inf_id={{topThreeCafes.[0].inf_id}}&name={{topThreeCafes.[0].result.name}}&location={{topThreeCafes.[0].result.location}}&category1={{topThreeCafes.[0].result.category1}}&category2={{topThreeCafes.[0].result.category2}}&description={{topThreeCafes.[0].result.description}}&averageRating={{topThreeCafes.[0].averageRating}}&slideImages1={{topThreeCafes.[0].slideImages1}}&slideImages2={{topThreeCafes.[0].slideImages2}}&slideImages3={{topThreeCafes.[0].slideImages3}}">Write a Review</a>
                            </div>
                            <div class = "comment-container"> 
                                <img src="../../images/dog.jpg" class="user-icon">
                                <a class ="username" href="/profile"><h4>brien</h4></a>
                                <p class = "comment">Nice Place, Amazing! Lit!</p>
                            </div>
                            <div class="bottom-container">
                                <button class="helpful">
                                    <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                    <img src="../../images/thumb.png">
                                    <span class = "numberofreact">{{topThreeCafes.[0].noOfLike}}</span>
                                </button>
                                <button class="unhelpful">
                                    <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                    <img src="../../images/thumbdown.png">
                                    <span class = "numberofreact">{{topThreeCafes.[0].noOfDislike}}</span>
                                </button>
                            </div>  
                        
                        </div>
                        <!-- Close button -->
                       <button class="closePopupBtnsb" id="closePopupBtnsb-0" onclick="closePopup('popupsb-0')">
                        <img src="../../images/xicon.png"></button>
                    </div>
                </div>
            </div>
            <div class="top1container">
                <button id="view-sb-1" class="top1header" style="background-image: url('{{topThreeCafes.[1].cafeheader}}')" onclick="showPopup('popupsb-1')">
                    <div class="infos-sb">
                        <div class="logo-sb">
                            <img src="{{topThreeCafes.[1].logoimage}}" alt="Logo">
                        </div>
                        <div>
                            <span class="sb">{{topThreeCafes.[1].name}}</span>
                        </div>
                        <div>
                            <span class="greencourt" >
                            {{topThreeCafes.[1].location}}
                            </span>
                        </div>
                        <p class ="desc">
                           {{topThreeCafes.[1].description}}
                        </p>
                        <p class="rating-sb">
                            Rating: <span id="i-sb" class="i-sb"> {{topThreeCafes.[1].averageRating}}</span>  out of <span class="total">5</span>
                        </p>
                    </div>
                </button>
                <a class="view-establishment-sb" href="/reviewpage?inf_id={{topThreeCafes.[1].inf_id}}&name={{topThreeCafes.[1].name}}&location={{topThreeCafes.[1].location}}&category1={{topThreeCafes.[1].category1}}&category2={{topThreeCafes.[1].category2}}&description={{topThreeCafes.[1].description}}&averageRating={{topThreeCafes.[1].averageRating}}&slideImages1={{topThreeCafes.[1].slideImages1}}&slideImages2={{topThreeCafes.[1].slideImages2}}&slideImages3={{topThreeCafes.[1].slideImages3}}">View Establishment</a>
                <div id="popupsb-1" class="popupsb">
                    <div class="sbcontent">
                        <div class = "uppersidesb">
                            <div class="logo-popup">
                                <img src="{{topThreeCafes.[1].logoimage}}" alt="Logo">
                                <a class = "view-all" href="/view-establishments">View All</a>
                                </div>
                            <div class="infos-popup">
                                <div class="name-popup"><span class="name" >{{topThreeCafes.[1].name}}</span></div>
                                <div class="loc-popup"><a class="loc" href="{{topThreeCafes.[1].location_link}}">
                                {{topThreeCafes.[1].location}}</a></div>
                            </div>
                        </div>
                        <div class = "lowerside">
                            <p class="rating-popup">
                                Rating: <span id="i-popup" class="i-popup"> {{topThreeCafes.[1].averageRating}}</span>  out of <span class="total"> 5</span>
                            </p>
                            <hr>
                            <div class="topreview-container">
                                <p class="topreview">Top Review</p>
                                <a class="write" href="/reviewpage?inf_id={{topThreeCafes.[1].inf_id}}&name={{topThreeCafes.[1].name}}&location={{topThreeCafes.[1].location}}&category1={{topThreeCafes.[1].category1}}&category2={{topThreeCafes.[1].category2}}&description={{topThreeCafes.[1].description}}&averageRating={{topThreeCafes.[1].averageRating}}&slideImages1={{topThreeCafes.[1].slideImages1}}&slideImages2={{topThreeCafes.[1].slideImages2}}&slideImages3={{topThreeCafes.[1].slideImages3}}">Write a Review</a>
                            </div>
                            <div class = "comment-container"> 
                                <img src="../../images/dog.jpg" class="user-icon">
                                <a class ="username" href="/profile"><h4>matthewS</h4></a>
                                <p class = "comment">Nice Place, Amazing! Lit!</p>
                            </div>
                            <div class="bottom-container">
                                <button class="helpful">
                                    <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                    <img src="../../images/thumb.png">
                                    <span class = "numberofreact">{{topThreeCafes.[1].noOfLike}}</span>
                                </button>
                                <button class="unhelpful">
                                    <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                    <img src="../../images/thumbdown.png">
                                    <span class = "numberofreact">{{topThreeCafes.[1].noOfDislike}}</span>
                                </button>
                            </div>  
                        
                        </div>
                        <!-- Close button -->
                        <button class="closePopupBtndrip" id="closePopupBtnsb-1" onclick="closePopup('popupsb-1')"><img src="../../images/xicon.png"></button>
                    </div>
                </div>
            </div>
            <div class="top1container">
                <button id="view-sb-2" class="top1header" style="background-image: url('{{topThreeCafes.[2].cafeheader}}')" onclick="showPopup('popupsb-2')">
                    <div class="infos-sb">
                        <div class="logo-sb">
                            <img src="{{topThreeCafes.[2].logoimage}}" alt="Logo">
                        </div>
                        <div>
                            <span class="sb">{{topThreeCafes.[2].name}}</span>
                        </div>
                        <div>
                            <span class="greencourt">
                            {{topThreeCafes.[2].location}}
                            </span>
                        </div>
                        <p class ="desc">
                           {{topThreeCafes.[2].description}}
                        </p>
                        <p class="rating-sb">
                            Rating: <span id="i-sb" class="i-sb"> {{topThreeCafes.[2].averageRating}}</span>  out of <span class="total">5</span>
                        </p>
                    </div>
                </button>
                <a class="view-establishment-sb" href="/reviewpage?inf_id={{topThreeCafes.[2].inf_id}}&name={{topThreeCafes.[2].name}}&location={{topThreeCafes.[2].location}}&category1={{topThreeCafes.[2].category1}}&category2={{topThreeCafes.[2].category2}}&description={{topThreeCafes.[2].description}}&averageRating={{topThreeCafes.[2].averageRating}}&slideImages1={{topThreeCafes.[2].slideImages1}}&slideImages2={{topThreeCafes.[2].slideImages2}}&slideImages3={{topThreeCafes.[2].slideImages3}}">View Establishment</a>
                <div id="popupsb-2" class="popupsb">
                    <div class="sbcontent">
                        <div class = "uppersidesb">
                            <div class="logo-popup">
                                <img src="{{topThreeCafes.[2].logoimage}}" alt="Logo">
                                <a class = "view-all" href="/view-establishments">View All</a>
                                </div>
                            <div class="infos-popup">
                                <div class="name-popup"><span class="name">{{topThreeCafes.[2].name}}</span></div>
                                <div class="loc-popup"><a class="loc" href="{{topThreeCafes.[2].location_link}}">
                                {{topThreeCafes.[2].location}}</a></div>
                            </div>
                        </div>
                        <div class = "lowerside">
                            <p class="rating-popup">
                                Rating: <span id="i-popup" class="i-popup"> {{topThreeCafes.[2].averageRating}}</span>  out of <span class="total"> 5</span>
                            </p>
                            <hr>
                            <div class="topreview-container">
                                <p class="topreview">Top Review</p>
                                <a class="write" href="/reviewpage?inf_id={{topThreeCafes.[2].inf_id}}&name={{topThreeCafes.[2].name}}&location={{topThreeCafes.[2].location}}&category1={{topThreeCafes.[2].category1}}&category2={{topThreeCafes.[2].category2}}&description={{topThreeCafes.[2].description}}&averageRating={{topThreeCafes.[2].averageRating}}&slideImages1={{topThreeCafes.[2].slideImages1}}&slideImages2={{topThreeCafes.[2].slideImages2}}&slideImages3={{topThreeCafes.[2].slideImages3}}">Write a Review</a>
                            </div>
                            <div class = "comment-container"> 
                                <img src="../../images/dog.jpg" class="user-icon">
                                <a class ="username" href="/profile"><h4>Rami</h4></a>
                                <p class = "comment">Great!</p>
                            </div>
                            <div class="bottom-container">
                                <button class="helpful">
                                    <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                    <img src="../../images/thumb.png">
                                    <span class = "numberofreact">{{topThreeCafes.[2].noOfLike}}</span>
                                </button>
                                <button class="unhelpful">
                                    <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                    <img src="../../images/thumbdown.png">
                                    <span class = "numberofreact">{{topThreeCafes.[2].noOfDislike}}</span>
                                </button>
                            </div>  
                        
                        </div>
                        <!-- Close button -->
                        <button class="closePopupBtndrip" id="closePopupBtnsb-2" onclick="closePopup('popupsb-2')"><img src="../../images/xicon.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <p class = "budget">Looking for Budget Friendly Cafe? &#128176;</p>
        <p class="budget1">Cafes that offers snacks and bevarages in a affordable price</p>
            <div class = "cafelists">
                <div class="next-slidecontainer">
                    <button class="next-slide">
                        <img src="/images/nextlight.png" alt="NextLight">
                    </button>
                </div>
                {{#each budgetFriendlyCafes}}
                <div class="cafe2container" id="cafe2">
                   <button id="view-drip-{{@index}}" class="cafe2header" style="background-image: url('{{cafeheader}}')" onclick="showPopup('popupdrip-{{@index}}')">
                        <div class="infos-sb">
                            <div class="logo-sb">
                                <img src="{{logoimage}}" alt="Logo">
                            </div>
                            <div>
                                <span class="sb" href="#">{{name}}</span>
                            </div>
                            <div>
                                <span class="greencourt" >
                                    {{location}}
                                </span>
                            </div>
                            <p class="rating-sb">
                                Rating: <span id="i-sb" class="i-sb"> {{averageRating}}</span>out of <span class="total">5</span>
                            </p>
                            <p class="desc">
                               {{description}}
                            </p>
                        </div>
                    </button>
                    <a class="view-establishment-drip" href="/reviewpage?inf_id={{inf_id}}&name={{name}}&location={{location}}&category1={{category1}}&category2={{category2}}&description={{description}}&averageRating={{averageRating}}&slideImages1={{slideImages1}}&slideImages2={{slideImages2}}&slideImages3={{slideImages3}}">View Establishment</a>
                    <div id="popupdrip-{{@index}}" class="popupdrip">
                        <div class="dripcontent">
                            <div class = "uppersidedrip">
                                <div class="logo-popup">
                                    <img src="{{logoimage}}" alt="Logo">
                                    <a class = "view-all" href="/view-establishments">View All</a>
                                  </div>
                                  <div class="infos-popup">
                                    <div class="name-popup"><span class="name" href="#">{{name}}</span></div>
                                    <div class="loc-popup"><a class="loc" href="{{location_link}}">
                                       {{location}}</a></div>
                                  </div>
                            </div>
                            <div class = "lowerside">
                                <p class="rating-popup">
                                    Rating: <span id="i-popup" class="i-popup">{{averageRating}}</span>  out of <span class="total"> 5</span>
                                </p>
                                <hr>
                                <div class="topreview-container">
                                    <p class="topreview">Top Review</p>
                                    <a class="write" href="/reviewpage?inf_id={{inf_id}}&name={{name}}&location={{location}}&category1={{category1}}&category2={{category2}}&description={{description}}&averageRating={{averageRating}}&slideImages1={{slideImages1}}&slideImages2={{slideImages2}}&slideImages3={{slideImages3}}">Write a Review</a>
                                </div>
                                <div class = "comment-container"> 
                                    <img src="../../images/dog.jpg" class="user-icon">
                                    <a class ="username" href="#"><h4>@carljuDR</h4></a>
                                    <p class = "comment">My friend introduced me to this cafe. 2 years later, this has been my spot whenever I work on my academics.</p>
                                </div>
                                <div class="bottom-container">
                                    <button class="helpful">
                                        <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                        <img src="../../images/thumb.png">
                                        <span class = "numberofreact">{{noOfLike}}</span>
                                    </button>
                                    <button class="unhelpful">
                                        <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                        <img src="../../images/thumbdown.png">
                                        <span class = "numberofreact">{{noOfDislike}}</span>
                                    </button>
                                </div>  
                               
                            </div>
                            <!-- Close button -->
                           <button class="closePopupBtndrip" id="closePopupBtndrip-{{@index}}" onclick="closePopup('popupdrip-{{@index}}')">
                                <img src="../../images/xicon.png">
                            </button>

                        </div>
                    </div>
                </div>
                {{/each}}
                <p class = "Discover">Discover Cafes That Embrace Your Study Sessions &#128218;</p>
                <p class="student-friendly">Cafe with Quiet ambiance, free Wi-Fi, and delicious drinks to fuel your focus </p>
                 <div class = "cafelists2">
            
                {{#each studyFriendlyCafes}}
                <div class="cafe2container" id="cafe2">
                     <button id="view-tomo-{{@index}}" class="cafe2header" style="background-image: url('{{cafeheader}}')" onclick="showPopup('popuptomo-{{@index}}')">
                        <div class="infos-sb">
                            <div class="logo-sb">
                                <img src="{{logoimage}}" alt="Logo">
                            </div>
                            <div>
                                <span class="sb">{{name}}</span>
                            </div>
                            <div>
                                <span class="greencourt" >
                                    {{location}}
                                </span>
                            </div>
                            <p class="rating-sb">
                                Rating: <span id="i-sb" class="i-sb"> {{averageRating}}</span>out of <span class="total">5</span>
                            </p>
                            <p class="desc">
                               {{description}}
                            </p>
                        </div>
                    </button>
                    <a class="view-establishment-drip" href="/reviewpage?inf_id={{inf_id}}&name={{name}}&location={{location}}&location_link={{location_link}}&category1={{category1}}&category2={{category2}}&description={{description}}&averageRating={{averageRating}}&slideImages1={{slideImages1}}&slideImages2={{slideImages2}}&slideImages3={{slideImages3}}">View Establishment</a>
                    <div id="popuptomo-{{@index}}" class="popupdrip">
                        <div class="dripcontent">
                            <div class = "uppersidedrip">
                                <div class="logo-popup">
                                    <img src="{{logoimage}}" alt="Logo">
                                    <a class = "view-all" href="/view-establishments">View All</a>
                                  </div>
                                  <div class="infos-popup">
                                    <div class="name-popup"><span class="name">{{name}}</sapn></div>
                                    <div class="loc-popup"><a a class="loc" href="{{location_link}}">
                                       {{location}}</a></div>
                                  </div>
                            </div>
                            <div class = "lowerside">
                                <p class="rating-popup">
                                    Rating: <span id="i-popup" class="i-popup">{{averageRating}}</span>  out of <span class="total"> 5</span>
                                </p>
                                <hr>
                                <div class="topreview-container">
                                    <p class="topreview">Top Review</p>
                                    <a class="write" href="/reviewpage?inf_id={{inf_id}}&name={{name}}&location={{location}}&location_link={{location_link}}&category1={{category1}}&category2={{category2}}&description={{description}}&averageRating={{averageRating}}&slideImages1={{slideImages1}}&slideImages2={{slideImages2}}&slideImages3={{slideImages3}}">Write a Review</a>
                                </div>
                                <div class = "comment-container"> 
                                    <img src="../../images/dog.jpg" class="user-icon">
                                    <a class ="username" href="#"><h4>carljuDR</h4></a>
                                    <p class = "comment">wow! what a great place and such a top-tier service!!!</p>
                                </div>
                                <div class="bottom-container">
                                    <button class="helpful">
                                        <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                        <img src="../../images/thumb.png">
                                        <span class = "numberofreact">{{noOfLike}}</span>
                                    </button>
                                    <button class="unhelpful">
                                        <!-- TO EDIT/ ADD LIKE AND DISLIKE, THEN AD WRITE A REVIEW -->
                                        <img src="../../images/thumbdown.png">
                                        <span class = "numberofreact">{{noOfDislike}}</span>
                                    </button>
                                </div>  
                               
                            </div>
                             <button class="closePopupBtndrip" id="closePopupBtntomo-{{@index}}" onclick="closePopup('popuptomo-{{@index}}')">
                                <img src="../../images/xicon.png">
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div> 
            </div>   
         </div>                  
    </div>
</body>
</html>
