<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="/script/profile.js" defer></script>
</head>

<body>
    {{> navbar username=username}}

    <div class="cover">
        <div class="cover-img">
            <label for="coverImageUpload" class="edit-cover-pic">
                <img src="{{#if profileuser.coverpicture}}{{ profileuser.coverpicture }}{{else}}../../images/default_cover_image.jpg{{/if}}" id="coverPic" alt="Cover image" class="coverImg">
            </label>
        </div>
        <div class="profile-img">
            <label for="profileImageUpload" class="edit-profile-pic">
                <img src="{{#if profileuser.profilepicture}}{{ profileuser.profilepicture }}{{else}}../../images/default_profile_image.jpg{{/if}}" id="profilePic" alt="Profile image" class="profile">
            </label>
        </div>
    </div>

    <div class="profile-upper">
        <img class="designdot" src="../../images/dots.png">
        <div class="profile-name">
            <b><span class="username">{{ profileuser.username }}</span></b><br>
            <i><b><span class="realname">{{ profileuser.fullname.firstname }} {{ profileuser.fullname.lastname }}</span></b></i>
        </div>
    </div>

    <div class="profile-lower">
        <span class="bio">{{ profileuser.bio }}</span>
    </div>

    <img class="designdot2" src="../../images/dots.png">

    <div class="profile-reviews-container">
    <img class="designdot3" src="../../images/dots.png">
    <a id="prevButton" class="prev" onclick="prevSlide()">&#10094;</a>
    <a id="nextButton" class="next" onclick="nextSlide()">&#10095;</a>

    <div class="dot-container">
        {{#each dots}}
            <span class="dot" onclick="currentSlide({{ this }})"></span>
        {{/each}}
    </div>

        <div class="profile-reviews">

            {{#each reviewSets as |reviewSet index|}}
            <div class="review-set" id="reviewSet{{ index }}">

                <div class = "container-title">Reviews</div>
                {{#each reviewSet as |review|}}
                    <div class="review1-container">
                        <!--<a href="/reviewpage?cafeID={{ review.cafeID }}">-->
                            <img src="{{ review.logoimage }}" class="review1" alt="Cafe Logo">
                        <!--</a>-->
                        <div class="review1-review">
                            <br>
                            <span class="review-title">{{ review.reviewtitle }}</span><br><br>
                            <span class="review-text">{{ review.reviewbody }}</span>
                            <div class="star-rating">
                                {{#if (isInteger review.caferating)}}
                                    {{#times review.caferating}}
                                        <span class="star">&#9733;</span>
                                    {{/times}}
                                {{else}}
                                    {{#times (subtract (floor review.caferating) 1)}}
                                        <span class="star">&#9733;</span>
                                    {{/times}}
                                    <span class="star">&#9733;</span>
                                {{/if}}
                            </div>
                            {{#if review.isEdited}}
                                <div class="edited-badge">Edited</div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
            {{/each}}


            {{#each commentSets as |commentSet index|}}
                
                <div class="review-set comment-set" id="commentSet{{ index }}" style="display: none;">

                    <div class = "container-title">Comments</div>
                    {{#each commentSet as |comment|}}
                        <div class="review1-container">
                            <!--<a href="/reviewpage?cafeID={{ review.cafeID }}">-->
                                <img src="{{#if comment.profilepicture}}{{ comment.profilepicture }}{{else}}../../images/default_profile_image.jpg{{/if}}" class="review1" alt="Cafe Logo">
                            <!--</a>-->
                            <div class="review1-review">
                                <br>
                                <span class="review-title">{{ comment.reviewer}}'s "{{ comment.reviewtitle }}"</span><br><br>
                                <span class="review-text">"{{ comment.textcontent }}"</span>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}

            </div>
    </div>

<script>
    function getUsername() {
      return sessionStorage.getItem('username');
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[[]]/g, "\\$&");
        const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    document.getElementById('usernameDisplay').innerText = username;

    </script>

</body>
</html>
