<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
    <script src="/script/profile.js" defer></script>
</head>

<body>
    <!--<div id="navbar" class="navbar">
        <img src="../../images/Logo.png" class ="cafestlogo">
        <a href="#" class="webname">
            <span class="cafe">Cafe</span>
            <span class="st"> St.</span>
        </a>
        <ul>
            <li id="home-link"><a href="/index?username={{username}}">Home</a></li>
            <li><a href="/view-establishments">View Establishments</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
          <div class="user-icon-container">
            <div class="dropdown">
                <button class="user-button" onclick="toggleDropdown()">
                    <img src="../../images/usericon.png" alt="User Icon" id="icon" class="user">
                </button>
                <div class="dropdown-content" id="dropdownContent">
                    <a href="/login?page=signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>-->
    {{> navbar username=username pic=sampleUser.profilepicture}}

    <div class="cover">
        <div class="cover-img">
            <label for="coverImageUpload" class="edit-cover-pic">
                <img src="{{#if sampleUser.coverpicture}}{{ sampleUser.coverpicture }}{{else}}../../images/default_cover_image.jpg{{/if}}" id="coverPic" alt="Cover image" class="coverImg">
            </label>
            <input id="coverImageUpload" type="file" accept="image/*" onchange="loadCover(event)" style="display: none;">
        </div>
        <div class="profile-img">
            <label for="profileImageUpload" class="edit-profile-pic">
                <img src="{{#if sampleUser.profilepicture}}{{ sampleUser.profilepicture }}{{else}}../../images/default_profile_image.jpg{{/if}}" id="profilePic" alt="Profile image" class="profile">
            </label>
            <input id="profileImageUpload" type="file" accept="image/*" onchange="loadProfile(event)" style="display: none;">
        </div>
    </div>



    <div class="profile-upper">
        <img class="designdot" src="../../images/dots.png">
        <div class="profile-name">
            <b><span class="username">{{ sampleUser.username }}</span></b><br>
            <i><b><span class="realname">{{ sampleUser.fullname.firstname }} {{ sampleUser.fullname.lastname }}</span></b></i>

            <div class="edit" onclick="openEditPopup()">
                <img src="../../images/draw.png">
            </div>
        </div>
    </div>

    <div class="edit-popup" id="editPopup">
    <div class="popup-content">
        <span class="close" onclick="closeEditPopup()">&times;</span>
        <b><h2>Edit Profile</h2></b>
        <input type="text" id="newUsername" placeholder="Username">
        <input type="text" id="newFirstName" placeholder="First Name">
        <input type="text" id="newLastName" placeholder="Last Name">
        <textarea id="newBio" placeholder="New Bio"></textarea>
        <button onclick="saveChanges()">Save</button>
    </div>
</div>

    <div class="profile-lower">
        <span class="bio">{{ sampleUser.bio }}</span>
    </div>

    <img class="designdot2" src="../../images/dots.png">

    <div class="profile-reviews-container">
    <img class="designdot3" src="../../images/dots.png">
    <a id="prevButton" class="prev" onclick="prevSlide()">&#10094;</a>
    <a id="nextButton" class="next" onclick="nextSlide()">&#10095;</a>

    <div class="dot-container">
        {{#each dots}}
            <span class="dot" onclick="currentSlide({{ this }})"></span>
        {{/each}}
    </div>

        <div class="profile-reviews">

            {{#each reviewSets as |reviewSet index|}}
            <div class="review-set" id="reviewSet{{ index }}">

                <div class = "container-title">Reviews</div>
                {{#each reviewSet as |review|}}
                    <div class="review1-container">
                        <!--<a href="/reviewpage?cafeID={{ review.cafeID }}">-->
                            <img src="{{ review.logoimage }}" class="review1" alt="Cafe Logo">
                        <!--</a>-->
                        <div class="review1-review">
                            <br>
                            <span class="review-title">{{ review.reviewtitle }}</span><br><br>
                            <span class="review-text">{{ review.reviewbody }}</span>
                            <div class="star-rating">
                                {{#if (isInteger review.caferating)}}
                                    {{#times review.caferating}}
                                        <span class="star">&#9733;</span>
                                    {{/times}}
                                {{else}}
                                    {{#times (subtract (floor review.caferating) 1)}}
                                        <span class="star">&#9733;</span>
                                    {{/times}}
                                    <span class="star">&#9733;</span>
                                {{/if}}
                            </div>
                            {{#if review.isEdited}}
                                <div class="edited-badge">Edited</div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
            {{/each}}


            {{#each commentSets as |commentSet index|}}
                
                <div class="review-set comment-set" id="commentSet{{ index }}" style="display: none;">

                    <div class = "container-title">Comments</div>
                    {{#each commentSet as |comment|}}
                        <div class="review1-container">
                            <!--<a href="/reviewpage?cafeID={{ review.cafeID }}">-->
                                <img src="{{#if comment.profilepicture}}{{ comment.profilepicture }}{{else}}../../images/default_profile_image.jpg{{/if}}" class="review1" alt="Cafe Logo">
                            <!--</a>-->
                            <div class="review1-review">
                                <br>
                                <span class="review-title">{{ comment.reviewer}}'s "{{ comment.reviewtitle }}"</span><br><br>
                                <span class="review-text">"{{ comment.textcontent }}"</span>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}

            </div>
    </div>

<script>
    function getUsername() {
      return sessionStorage.getItem('username');
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[[]]/g, "\\$&");
        const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    document.getElementById('usernameDisplay').innerText = username;

    </script>

</body>
</html>
