<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Establishments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/view-establishments.css">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/script/view-establishments.js" defer></script>
    <link rel="icon" type="image/png" href="/assets/Cafe St Logo.PNG">
</head>
<body>
    
    {{> navbarviewestablishments username=username}}

    <div id="content" class="contents">
        <div class="searchbar"> 
                <form  action="/searchpage" method="GET">
                    <input type="text" placeholder="Search Cafes" class="type" name="query">
                    <button type="submit" class="search">Search</button>
                </form>
            </div>

        <div class="filter">
            <button class="buttons" onclick="window.location.href = '/view-establishments?username={{username}}';">All</button>
            <button class="buttons" data-filter="Top-recommendations" onclick="window.location.href = '/view-establishments?username={{username}}&filter=Top-recommendations';">Top Recommendations</button>
            <button class="buttons" data-filter="Budget-Friendly" onclick="window.location.href = '/view-establishments?username={{username}}&filter=Budget-Friendly';">Budget Friendly Cafes</button>
            <button class="buttons" data-filter="Study-Friendly" onclick="window.location.href = '/view-establishments?username={{username}}&filter=Study-Friendly';">Study Friendly Cafes</button>
        </div>
 
        <div class="main">
            {{#each cafes}}
            <a href="/reviewpage?inf_id={{inf_id}}&name={{name}}&location={{location}}&location_link={{location_link}}&category1={{category1}}&category2={{category2}}&description={{description}}&averageRating={{averageRating}}&slideImages1={{slideImages1}}&slideImages2={{slideImages2}}&slideImages3={{slideImages3}}&pic={{pic}}&username={{username}}" class = "box" data-category= "{{category}}">
            <div class="review-box" >
                <div class="unit1" id="unit1-background1" style="background-image: url({{cafeheader}});">
                    <img src="{{logoimage}}" class="cafe-profile">
                    <div class="info">
                        <p class="cafe-name">{{name}}</p>
                        <p class="cafe-address">{{location}}</p>
                    </div>
                </div>
                <div class="unit2">
                    <div class="ratings">
                        <h2>RATINGS:</h2>
                        <input type="radio" id="star1" name="rate" value="1">
                        <label for="star1" title="text">1 star</label>
    
                        <input type="radio" id="star2" name="rate" value="2">
                        <label for="star2" title="text">2 stars</label>
    
                        <input type="radio" id="star3" name="rate" value="3">
                        <label for="star3" title="text">3 stars</label>
    
                        <input type="radio" id="star4" name="rate" value="4">
                        <label for="star4" title="text">4 stars</label>
    
                        <input type="radio" id="star5" name="rate" value="5">
                        <label for="star5" title="text">5 stars</label>
                        <h2>{{averageRating}} out of 5</h2>
                    </div>
                    <hr>
                    <div class="reviews">
                        <h2>Top Review:</h2>
                    </div>
                </div>
                <div class="unit3">
                    <img src="../../images/elgatto.jpg" class="reviewer">
                    <div class="review-text">
                        <p>wow! what a great place and such a top tier service!!!</p>
                    </div>
                    <div class="reaction">
                        <button class="like"><img src="../../images/dislike_light.png"></button>
                        <button class="dislike"><img src="../../images/like_light.png"></i></button>
                    </div>
                </div>
            </div>
            </a>
            {{/each}}
    </div>
</body>
</html>

