<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/searchpage.css">
    <script src="/script/searchpage.js" defer></script>
</head>
<body>
    <header>
<div id="navbar" class="navbar">
        <img src="../../images/Logo.png" class="logo"> 
        <a href="/index" class="webname">
            <p class="web-name"><span class="Cafe-title">Cafe</span> <span class="St-title">St.</span></p>
        </a>
        <ul>
            <li id="home-link"><a href="/index?username={{username}}">Home</a></li>
            <li><a href="/view-establishments?username={{username}}">View Establishments</a></li>
            {{#if username}}
                <li><a href="/logout">Log Out</a></li>
            {{else}}
                <li><a href="/login">Log In</a></li>
            {{/if}}
          </ul>
          <div class="user-icon-container">
            <div class="dropdown">
                <button class="user-button" onclick="toggleDropdown()">
                    <img src="{{#if pic}}{{ pic }}{{else}}/images/usericon.png{{/if}}" alt="User Icon" id="icon" {{#if pic}}class="non-default"{{else}}class="default"{{/if}}>
                </button>
                <div class="dropdown-content" id="dropdownContent">
                    {{#if username}}
                        <a href="/profile?username={{username}}">View Profile</a>
                    {{else}}
                        <a href="/login?page=signup">Sign Up</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
       </header>
</body>
</html>
